@import "../../style/variables";

.product-detail__title {
  font-weight: bold;
  font-size: 2.5rem;
  color: $color-theme;
}

.product-detail__thumb {
  display: block;
  margin: 15px auto;
}

.product-detail__price,
.product-detail__price-sale {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
}

.product-detail__price-box {
  margin-top: 20px;
}

.product-detail__price-sale {
  color: $color-theme;
}

.product-detail__price {
  color: $color-theme;

  &.is-discount {
    color: $color-text;
    font-size: 1.4rem;
    text-decoration: line-through;
  }
}
